{% if result.SECTIONS|length > 0 %}
	<section class="services">
		<div class="container">
			<div class="h1 services__header">{{ langMessages.serviceTitle }}</div>
			<div class="services__text">{{ includeFile(SITE_TEMPLATE_PATH~"/include/content/indexServiceText.php") }}</div>
			<div class="services__wrapper">
				{% for item in result.SECTIONS %}
					<div class="services__item">
						<img class="services__item_image" src="{{ item.PICTURE.SRC }}" alt="">
						<a href="{{ item.SECTION_PAGE_URL }}" class="services__item_info">
							<span class="services__item_icon icon icon-{{ item.UF_ICON }}"></span>
							<span class="h3 services__item_name">{{ item.NAME }}</span>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}