{% if result.ITEMS|length > 0 %}
	<div class="our-works__list">
		{% for item in result.ITEMS %}
			<div class="our-works__item">
				<a href="{{ item.DETAIL_PAGE_URL }}">
					<picture class="our-works__item-image">
						<img src="{{ item.PICTURE }}" alt="{{ item.NAME }}">
					</picture>
				</a>
				<div class="our-works__item-bottom">
					<div class="our-works__item-title h3">{{ item.NAME }}</div>
					<a href="{{ item.DETAIL_PAGE_URL }}" class="button button-readmore">подробнее<span class="icon icon-arrow"></span></a>
				</div>
			</div>
		{% endfor %}
	</div>
	{{ result.NAV_STRING }}
{% endif %}