{% if result.ITEMS|length > 0 %}
	<section class="reviews">
		<div class="container reviews__wrapper">
			<div class="reviews__header h1">Отзывы</div>
			<div class="reviews__slider swiper-container">
				<div class="swiper-wrapper">
					{% for item in result.ITEMS %}
						<div class="reviews__slider_item swiper-slide">
							{% if item.PREVIEW_PICTURE.SRC %}
								<a href="{{ item.PREVIEW_PICTURE.SRC }}" data-fancybox class="reviews__slider_image"><img src="{{ item.PREVIEW_PICTURE.SRC }}" alt=""></a>
							{% endif %}
							<div class="reviews__slider_info">
								<div class="reviews__slider_header">
									<div class="reviews__slider_name h4">{{ item.NAME }}</div>
									<div class="reviews__slider_date">{{ item.DATE_ACTIVE_FROM }}</div>
								</div>
								<div class="reviews__slider_text">{{ item.PREVIEW_TEXT }}</div>
							</div>
							<a href="#" class="reviews__slider_link button button-readmore">подробнее<span class="icon icon-arrow"></span></a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="reviews__controls">
				<div class="swiper-button-prev button button-control button-control-prev reviews__control"><span class="icon icon-arrow"></span>{{ langMessages.backward }}</div>
				<div class="swiper-button-next button button-control button-control-next reviews__control">{{ langMessages.forward }}<span class=" icon icon-arrow"></span></div>
			</div>
		</div>
	</section>
{% endif %}